@page
@model AboutModel
@{
    ViewData["Title"] = "ABOUT";
}
<h2>
    @ViewData["Title"]
    <p></p>
    <p></p>
    <p></p>
    <br>



    <p>
        First, I would like to thank my family and my  friends for all of their encouragement and support.<br>
        <br>
        I started this whole process about 15 years ago, when I was  repeatedly told “you have to bottle this stuff and sell it!”&nbsp; I was working at a local hospital in the  therapy department and we loved to eat.&nbsp;  We would have a potluck for just about any occasion.&nbsp; One time, I brought in pasta with my  made from scratch sweet tomato&nbsp;  sauce.&nbsp; It was a hit.&nbsp; To everyone's insistence, I continued to bring pasta to EVERY potluck.&nbsp; I had people request that I make sauce for  them and they would buy it.&nbsp; So I started  making big batches, freezing it, and selling it to friends.&nbsp; Then I came up with the idea to learn how to  “can” the sauce.&nbsp; My mom gave me her canning pot and canning tongs  and I went to town.&nbsp;
        I made cute little labels and put them on each jar.&nbsp; I would bring it in by the case, and it would sell very  in minutes.&nbsp;
        <br>
        I decided to take it a step further and sell my wares at  craft shows.&nbsp; My first show was at  Parkway West High School.&nbsp; We almost sold  out!!&nbsp; It was a great success.&nbsp; So I continued to do this for the next few  years.&nbsp; I made baskets for gifts,  especially around the holidays.&nbsp; Then it  seemed it was time to go even further.&nbsp;  Unfortunately, I could not “quit my day job” and did not have any start  up money.&nbsp; At one point, I thought I  would just let it go.&nbsp; Fortunately, I had a some friends that inspired me to consider making this a real business.&nbsp; So I took the leap and started ChefMel Sauces, Inc.&nbsp; My pasta sauce hit the market in 2008, and is now in multiple markets in MO and IL and growing!&nbsp; This is a locally owned and locally made product, well worth you giving it a try.&nbsp;  Only quality ingredients are in every jar.&nbsp; #smallbatchmade #stlmade #localgirl<br />
    <p />
</h2>