@page
@model ChefMelSauces.Pages.AvailableModel
@{
    ViewData["Title"] = "Available";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2><td height="66" align="left" valign="top">
    <p class="style3">
        STORES
        <br>
    </p><tr>
        
    </t>

    <p class="style2">
        <strong>DiGregorio's Market </strong><br>
        5200 Daggett Avenue <br>
        St. Louis, MO  63110<br>
        314-773-LINK<br>
        <a href="http://www.digregoriofoods.com" target="_blank"> www.digregoriofoods.com</a> <br>
        <span class="style7">Salsa and Pasta Sauce</span>

    </p><p class="style2">
        <br>
        <strong>
            <a href="http://www.schnucks.com" target="_blank"><img width="247" height="36" alt="Schnucks" src="images/schnucks_logo[1].png" border="0"></a><br>
            Schnucks Markets
        </strong><br>
        <a href="http://www.schnucks.com/stores/" target="_blank">Click here for locations.</a> <br>
        <span class="style7">Pasta Sauce</span>
    </p>
    <p class="style2">
        <br>
        <span class="style10">Straub's </span>

        <table width="80%" align="center" border="0">
            <tbody>
                <tr>
                    <td height="382" class="style2">
                        <strong>CENTRAL WEST END</strong><br>
                        302 N. Kingshighway Blvd.<br>
                        314.361.6646<br>
                        <span class="style7">Salsa and Pasta Sauce</span><br>
                        <br>
                        <strong>CLAYTON</strong><br>
                        8282 Forsyth   Blvd.<br>
                        314.725.2121<br>
                        <span class="style7">Salsa and Pasta Sauce</span><br>
                        <br>
                        <strong>WEBSTER GROVES</strong><br>
                        211 W. Lockwood   Ave.<br>
                        314.962.0169<br>
                        <span class="style7">Salsa and Pasta Sauce</span><br>
                        <br>
                        <strong>TOWN &amp; COUNTRY</strong><br>
                        13414 Clayton   Rd.<br>
                        314.434.4707<br>
                        <span class="style7">Salsa and Pasta Sauce</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </p><p class="style2">
        <strong>Urzi's Italian Market</strong><br>
        5430 Southwest Ave<br>
        St. Louis, MO&nbsp; 63139
    </p>
    <p class="style2">
        314.645.3914<br>
        <span class="style8">Pasta Sauce Only </span>
    </p>
    <p class="style2">
        <br>
        <strong>Viviano's</strong><br>
        62 Fenton Plaza<br>
        Fenton, MO 63026<br>
        636.305.1474<br>
        <span class="style7">Salsa and Pasta Sauce</span>
    </p>
    <p class="style2">
        <br>
        <strong>Viviano's Festa Italiano</strong><br>
        150 Four Seasons Shopping Ctr<br>
        Chesterfield, MO 63017<br>
        314.878.1474<br>
        <span class="style7">Salsa and Pasta Sauce</span>
    </p>

    <p class="style2">&nbsp;</p>
    <p class="style2">
        <strong>John Viviano &amp; Sons</strong><br>
        "On The Hill"<br>
        5139 Shaw Ave.<br>
        St. Louis, MO 63110<br>
        314.771.5476<br>
        <a href="http://www.shopviviano.com">www.shopviviano.com</a><br>
        <span class="style8">Pasta Sauce Only </span>
    </p>

    <p class="style2">&nbsp;</p>
    <p class="style2">
        <br>
    </p>

</td></h2>

