@page
@model ContactModel
@{
    ViewData["Title"] = "CONTACT";
}
<h2>
    @ViewData["Title"]
    <p></p>
    <p></p>
    <p></p>
    <br />

    <address>
        ChefMel Sauces, Inc<br />
        PO Box 6741<br />
        Chesterfield, MO 63006<br />
        <abbr title="Phone"></abbr>
        314.703.0809
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Melissa@chefmelsauces.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Melissa@chefmelsauces.com</a>
    </address>
</h2>