@page

@model IndexModel
@{
    ViewData["Title"] = "HOME PAGE";
}
<h2></h2>
<div class="jumbotron">

    <h1>
        <a class="" asp-page+"/Index">
        <img class="=" img-fluid" src="~/images/ShirtDesignSocialMedia.png" alt="logo" width=" 1020 " height="850" />
        <a />
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ChefMel</h2>
        <p>
            <img class="=" img-fluid" src="~/images/ChefMelpic.jpg" alt="logo" width=" 280 " height="200" />
            <a />
        </p>
    </div>
    
    <div class="col-md-4">
        <h2>                Thank you!
        <p>
            
            <br>
            Thanks to those of you that waited patiently for my Sweet Sicilian Pasta Sauce to make it's way to the market place.<br>
            <br>
            If you haven't tried it already, get ready for a deliciously sweet and rich tomato sauce full of garlic, basil, tomatoes and wine.  &nbsp; <br>
            <br>
            "No tweaking required!"&nbsp;  This sauce doubles well as a pizza sauce, as well as a dipping sauce for some St. Louis toasted ravioli, and the best chicken parmesan you have ever made!&nbsp; 
            <br>
            I hope you truly enjoy this sauce! Share it with your friends and family. I am grateful for my loyal fans!<br>
                    ~ChefMel
        </p>
        </h2>
        
    </div>
    <div class="col-md-4">
        <h2>The SAUCE</h2>   
        
        <p>


        </p>

        <p>
            <a class="" asp-page+"/Index">
            <img class="=" img-fluid" src="~/images/jar.jpg" alt="logo" width=" 200 " height="200" />
            <a />

        </p>
    </div>
</div>
