@page
@model ChefMelSauces.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2></h2>
    RECIPES
    <p></p>
    <p></p>
    <br />
    <p align="left" class="style3">ChefMel’s  Simple &amp; Light Chicken Parm<br />
    4-6 chicken  breasts<br />ChefMel’s Sweet  Sicilian Style Pasta Sauce<br />
    Fresh baby  spinach<br />
    Goat cheese<br />
    Olive oil<br />
    Italian Style  Breadcrumbs<br />
    Grated parmesan  cheese</p>


